a{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    /* color: #000; */
    opacity: 1;
}

html, *, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    /* width: 100%; */
}

body{
    color: #40514E;
    font-family: 'Merriweather', serif;
    text-align: center;
    box-sizing: border-box;
    background: #D8D9CF;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    width: 4%;
    margin: 100px auto;
}

h1{
    color: #7A4069;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
}

h2{
    color: #7A4069;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

h3{
    color: #7A4069;
    text-transform: uppercase;
}

p{
    line-height: 2;
}

.navbar-brand{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: 0px solid #fff;
    border-radius: 50px;
    width: 80px;
    height: 40px;
    padding: 5px;
    margin-left: 10px;
}

.offcanvas.offcanvas-end{
    width: 20%;
}

.offcanvas-body{
    background-color: #D8D9CF;
}

.top-container{
    position: relative;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D8D9CF;
}

.profile-img-contianer{
    margin: 20px;
    height: 400px;
    width: 400px;
    position: relative;
}

.profile-img{
    width: 320px;
    height: auto;
    border-radius: 10px;
    object-fit: fill;
    transition: all 500ms ease-in-out;
    position: relative;
    box-shadow: 4px 5px 4px #000;
}

.profile-text{
    width: 50%;
    max-width: 800px;
    text-align: center;
    font-size: 14px;
    margin: auto;
}

.overlay{
    position: absolute;
    bottom: 10px;
    top: auto;
    left: 25%;
    right: 25%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    transition: .5s ease;
    opacity: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    z-index: 4;
    color: #f1f1f1;
}

.profile-img-contianer:hover .overlay{
    opacity: 1;
}

.profile-img:hover{
    box-shadow: 4px 3px 5px  black;
    width: 300px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

.middle-container{
    margin: 100px 0;
    background: #D8D9CF;
}

.bottom-container{
    background-color: #212529;
    padding: 50px 0 20px;
}

.skills__one{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__one img {
    margin-bottom: 1.5rem;
    border-radius: 100%;
}

.section__one__skills{
    height: 350px;
}

.skills__one__text{
    font-size: 12px;
}

.certification{
    text-align: center;
}

.section__two__skills{
    text-align: center;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

}

.certification ul, .section__two__skills ul{
    display: inline-block;
    text-align: left;
    font-size: 12px;
}

.pro{
    text-decoration: underline;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.skills__one__img{
    width: 25%;
    float: left;
}   
      
.btn{
    padding: 1rem 2.5rem;
    transition: all 0.2s ease;
}

      
.btn:hover {
    background: #ec4e39;
    background-image: -webkit-linear-gradient(top, #ec4e39, #2bc4ad);
    background-image: -moz-linear-gradient(top, #ec4e39, #2bc4ad);
    background-image: -ms-linear-gradient(top, #ec4e39, #2bc4ad);
    background-image: -o-linear-gradient(top, #ec4e39, #2bc4ad);
    background-image: linear-gradient(to bottom, #ec4e39, #2bc4ad);
    text-decoration: none;
    transform: scale(0.97);
    border-width: 0;
}

.footer-link{
    font-size: 2rem;
}

.nav-item {
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
    padding-inline: 1rem;
    border-radius: 10px;
}

.nav-item:hover {
    background-color: gray;

}

.nav-item i {
    margin-right: 1rem;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.copyright span {
    display: block;
}

.copyright span:first-child {
    margin-top: 0.3rem;
}